doctype html
html(lang='en')
    head 
        meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
        link(rel="stylesheet", href="../assets/font-awesome/css/font-awesome.css")
        link(rel='stylesheet', href='../assets/css/bootstrap.css')
        link(rel='stylesheet', href='../assets/css/style.css')
    body
        .navbar.navbar-expand-md.navbar-dark.bg-dark
            .container-fluid
                a(href='index.html') 
                    img(src='../assets/img/netFlix.png')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#nav', aria-controls='navbarsExample04' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#nav
                    ul.navbar-nav.me-auto.mb-2.mb-md-0
                        span.dot#dot
                        li.nav-item 
                            a.nav-link(href='#', aria-current='page') Home 
                        li.nav-item 
                            a.nav-link(href='#') Movies  
                        li.nav-item 
                            a.nav-link(href='#') Series 
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle#drop(href='#', data-bs-toggle='dropdown', aria-expanded='false') my films 
                            ul.dropdown-menu(aria-labelledby='drop')
                                li
                                    a.dropdown-item(href="#") Jumanji
                                    a.dropdown-item(href="#") Bladshoot
                                    a.dropdown-item(href="#") Thor 2 
                        li.nav-Item
                            .search-content 
                                input#search(placeholder='search anything',type="text")
                                a.nav-link 
                                    i.fa.fa-search(role='button')
        .display-full
            .container
                .row 
                    .col-sm-12.col-md-12.col-lg-6
                        p.t-w 
                            |Duration 
                            span#dur 119 M
                            span#rating 
                                i.fa.fa-star.t-y(style='color:yellow')
                                |  6.8  
                        h1.t-w.t-bg.t-h
                            |Thor 2
                        p.t-d.t-w.mt-2
                            |Four Teenagers Find Themselves In The Deadly World Of A Video Game, And Even Everyone Has A New Unusual Body 
                        .row 
                            .col-sm-12.col-lg-6.col-md-6 
                                a.st-btn.bg-warn(style='background: #E10914 !important',role='button')  
                                    i.fa.fa-play
                                    |  Watch
                            .col-sm-12.col-lg-6.col-md-6 
                                a.st-btn.bg-dark(style='background: #000100 !important', role='button')
                                    i.fa.fa-plus
                                    |   Add List
        .container-fluid.m
            section.container.l

                .row.first
                    .col-sm-12.col-md-6.col-lg-3.t-l
                        spant.t-w 
                            |   Trends Now
                    .col-sm-12.col-md-6.col-lg-3
                        span.t-w
                            i.fa.fa-fire 
                            |   Popular
                    .col-sm-12.col-md-6.col-lg-3
                        spant.t-w
                            i.fa.fa-star
                            |   Premieres
                    .col-sm-12.col-md-6.col-lg-3.t-r
                        spant.t-w.t-l
                            i.fa.fa-plus
                            |   Recently Added
                .row.second
                    div
                        span Action            
                    div
                        span Adventure            
                    div
                        span Animation            
                    div
                        span Biography            
                    div
                        span Crime            
                    div
                        span Comedy            
                    div
                        span Document            
                    div
                        span Drama            
                    div
                        span Fantastic            
                    div
                        span Scientific            
                    div
                        span Trend            
                    div
                        span Marvel
                    span#moveLeft
                    span#moveRight

                - 
                    const employees = [
                            {
                                name: 'Maze Runner',
                                year: 2016,
                                rating: 6.3,
                                img: ''
                            },
                            {
                                name: 'Some',
                                year: 21213,
                                rating: 8,
                                img:''
                            },
                            {
                                name: 'Red Sponse',
                                year: 213,
                                rating: 2,
                                img: ''
                            },
                            {
                                name: 'some',
                                year: 1123,
                                rating: 5,
                                img: ''
                            },
                            {
                                name: 'Hello world',
                                year: 2016,
                                rating: 6.3,
                                img: ''
                            },
                            {
                                name: 'Another Film',
                                year: 21213,
                                rating: 8,
                                img:''
                            },
                            {
                                name: 'Do not watch',
                                year: 213,
                                rating: 2,
                                img: ''
                            },
                            {
                                name: 'shut up',
                                year: 1123,
                                rating: 5,
                                img: ''
                            }
                    ]
                .row.d
                    each employee, i in employees
                        .col-lg-3.col-sm-12.col-md-6
                            .card
                                .card-head
                                    img(src=`${employees[i].img}`)
                                .card-body
                                    h6.title
                                        |#{employees[i].name}
                                    div.year.text-muted.row
                                        .col-6
                                            span(style='margin-left: 0') #{employees[i].year}   
                                        .col-6
                                            span.fa.fa-heart    
                                            span.fa.fa-eye  
                                            span.fa.fa-star   #{employees[i].rating}
        // Footer
        footer.text-lg-start.bg-dark.text-muted
          section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
            .me-5.d-none.d-lg-block
              span Get connected with us on social networks:
            div
              a.me-4.text-reset(href='')
                i.fa.fa-facebook-f
              a.me-4.text-reset(href='')
                i.fa.fa-twitter
              a.me-4.text-reset(href='')
                i.fa.fa-google
              a.me-4.text-reset(href='')
                i.fa.fa-instagram
              a.me-4.text-reset(href='')
                i.fa.fa-linkedin
              a.me-4.text-reset(href='')
                i.fa.fa-github
          section
            .container.text-md-start.mt-5
              .row.mt-3
                .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                  h6.text-uppercase.fw-bold.mb-4.text-left
                    | Locations
                  ul.navbar-nav
                    li.nav-item
                        a.nav-link Berkley mission bay
                    li.nav-item
                        a.nav-link Berkley takapuna
                    li.nav-item
                        a.nav-link HOYTS botany downs
                    li.nav-item
                        a.nav-link HOYTS northlands
                    
                .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                  h6.text-uppercase.fw-bold.mb-4.text-left
                    | What's bot
                  ul.navbar-nav
                    li.nav-item
                        a.nav-link All movies
                    li.nav-item
                        a.nav-link Movies by Genre
                    li.nav-item
                        a.nav-link Latest release
                    li.nav-item
                        a.nav-link Coming soon
                .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
                  h6.text-uppercase.fw-bold.mb-4.text-left
                    | Offers
                  ul.navbar-nav
                    li.nav-item
                        a.nav-link Event & competition
                    li.nav-item
                        a.nav-link About Us
                    li.nav-item
                        a.nav-link HOYTS rewards card
                    li.nav-item
                        a.nav-link Screen experience
                    li.nav-item
                        a.nav-link Movie festival
                    li.nav-item
                        a.nav-link E-gift card
                .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
                  h6.text-uppercase.fw-bold.mb-4.text-left
                    | Download our app
                  ul.navbar-nav(style='width: 100% !important;')
                    .row(style='height: 50px')
                        .col-6
                            a
                                img(src='#')
                        .col-6
                            a
                                img(src='#')
                    p.mt-5
                        |Subscribe to our newsletter
                    p.magic-parent
                        input.magic-input(type='text', placeholder='enter your email')
                        input.magic-btn(value='send', type='submit')




        script(src="../assets/js/strange.js")
        script(src="../assets/js/main.js")
        script(src="../assets/js/bootstrap.bundle.js")

