@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.otf');
}

body {
    /*background-image: url('../img/thor.png');*/
    background-image: linear-gradient(#000010, #000100);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Gilroy;
}

input:focus,
button:focus,
select:focus,
a:focus {
    outline: none;
}

.navbar.navbar-expand-md {
    #nav {
        margin-left: 150px;

        span.dot {
            position: absolute;
            width: 7px;
            height: 7px;
            top: 90%;
            transform: translate(-50%, -50%);
            transition: 250ms;
            border-radius: 100%;
            border: 1px solid #fff;
            opacity: 0;
        }

        .navbar-nav {
            position: relative;
        }

        .nav-item {
            margin-left: 18px;

            a {
                font-family: Gilroy, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 20px;
                position: relative;
            }

            a.active::after {
                content: '';
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 7px;
                height: 7px;
                background: #fff;
                border-radius: 100%;
            }

            ul.dropdown-menu {
                background: transparent !important;
                border: none;

                .dropdown-item {
                    background: transparent;
                    font-family: Gilroy, Helvetica, sans-serif;
                    color: #fff !important;
                    font-size: 18px;
                    opacity: .5;
                    position: relative;

                    &:hover {
                        opacity: 1;
                    }

                    &.active::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0px;
                        transform: translate(-50%, -50%);
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        border-radius: 100%;
                    }

                }
            }
        }
    }

    background-color:transparent !important;
    height: 10vh;
    padding-left: 50px;
}

.display-full {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .row {
        .row {
            height: 130px;
            justify-content: center;
            align-items: flex-end;


            .st-btn {
                padding: 10px 25px;
                border-radius: 30px;
                text-decoration: none;
                color: #fff;
                margin: 0 !important;
            }
        }

    }
}

.t-w {
    color: #fff;
    font-family: Gilroy;
}

.t-h {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 124px;
}

.t-bg {
    font-size: 4.3rem;
}

.t-d {
    font-family: Gilroy;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
}

.t-r {
    text-align: right !important;
}

.t-l {
    text-align: left !important;
}

li.nav-Item {
    .search-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 500px;

        a {
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
        }

        input {
            padding: 4px 8px;
            border-radius: 30px;
            border: 1px solid #000;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, .7);
            color: rgba(255, 255, 255, .7);
            transition: 200ms;

            &:focus {
                color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(255, 255, 255, 1)
            }

            &::placeholder {
                color: rgba(255, 255, 255, .7);
            }
        }
    }
}
.fa-star {
    color: yellow !important; 
}
.fa-heart.liked{
    color: red !important;
}
.container-fluid.m {
    background: #16151a ;
}
section.container.l {
    min-height: 100vh;
    padding-top: 30px;
    .row.first {
        position: relative;
        text-align: center;
        margin-bottom: 50px;

        &::after {
            content: '';
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
            width: 100%;
            height: 3px;
            background: gray;
            border-radius: 5px;
        }
    }

    .row.second {
        height: 35px;
        display: flex !important;
        padding-left: 10px;
        padding-right: 10px;
        flex-wrap: nowrap;
        justify-content: space-between !important;  
        overflow: hidden;
        position: relative;
        div {
            padding: 5px 10px;
            text-align: center;
            border-radius: 20px;
            font-size: 14px;
            width: 100px !important;
            background:#2e2d32; 
            margin-left: 15px;
            cursor: pointer;
            user-select: none;
            &.active {
                background: #E10914;
            }
            span {
                color: #fff;
                font-family: Gilroy
            }
        }


    }

    .row.d{
        margin-top: 50px;
        .col-lg-3.col-sm-12.col-md-6{
            margin-bottom: 70px;
            .card {
                height: 400px;
                background:transparent !important;
                .card-head {
                    height: 80%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .card-body {
                    height: 20%;
                    h6.title {
                        color: #fff
                    }
                    .col-6 {
                        span {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
footer {
   ul {
    img {
        width: 100%;
        height: 100%;
    }
        li {
            text-align: justify !important;
            a{
                cursor: pointer !important;
                color: gray;
            }
        }
    }
    .magic-parent {
        position: relative;
        width: 100%;
        .magic-input {
            width: 100% !important;
            height: 20px;
            background:transparent !important;
            border: 1px solid var(--bs-gray);
            opacity: .9;
            border-radius: 30px;
            padding: 30px 20px !important;
            &:placeholder {
                color: rgba(255,255,255,.3);
                font-size: 13px !important;
            }
            &:focus {
                opacity: 1;
                color: rgba(130,130,130,1);
            }
            color: gray;
        }
        .magic-btn {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 81%;
            transform: translate(-50%,-50%);
            border: none;
            color: #fff;
            padding: 10px 23px;
            background:rgb(228, 69, 58);
            border-radius: 30px;
            transition: 150ms;
            &:hover {
                box-shadow: 0px 0px 10px  rgba(255, 50 ,20, .7);
                transform:translate(-50%,-50%) scale(1.125, 1.125) 
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #dot {
        opacity: 0;
        display: none;
    }

    li.nav-Item {
        width: 97.1%;
        align-self: flex-end !important;
        height: 100%;

        .search-content {
            margin-left: 0px !important;
            justify-content: flex-start;
        }
    }

    a.active::after {
        content: '';
        position: absolute;
        transition: 250ms;
        top: 90%;
        width: 100% !important;
        height: 3px !important;
        background: #fff !important;
    }

    .row {
        .col-lg-3 {
            span {
                margin-bottom: 20px
            }
        }
    }

    .navbar.navbar-expand-md {
        padding-left: 0 !important;

        #nav {
            margin-left: 0 !important;
        }
    }

    .t-l,
    .t-r {
        text-align: center !important;
    }
    .magic-btn{
        left: 90% !important; 
    }
}
@media screen and (max-width: 460px) {
    .magic-btn{
        left: 80% !important; 
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .magic-btn{
        height: 100% !important; 
        left: 97% !important;
    }   
    .magic-btn:hover{
        transform: scale(1.01,1.01) translate(-50%,-50%) !important;
    }

}
